/*
This code remains the intellectual property of Éamonn "Wing" Kearns
*/
/* 
    Created on : 17-Jul-2015, 04:08:56
    Author     : Wing
*/

#gameUI
{
	position: relative;
	border: 1px solid black;
}

#footer
{
	clear: left;
}

#combat
{
	position: absolute;
	border: 1px solid black;
	height: 200px;
	width: 500px;
	top: 10px;
	right: 10px;
	overflow-y: auto;
}

#mapOverlay
{
	position: absolute;
	border: 1px solid black;
	right:  10px;
	top: 210px;
	height: 500px;
	width:  500px;
}

#monstersLi
{
	display:none;
}